/* Cross-browser anti-aliasing */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000000;
}

.App {
  text-align: center;
}

.App-main {
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #FFFFFF;
}

.Audio-player audio {
  padding-bottom: 5%;
  height: 30px;
  width: 250px;
}

.Audio-control {
  font-size: 14px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 5%;
}

.fas {
  color: #FFFFFF;
  width: 30px;
  font-size: 0.9em;
  z-index: 1;
}

.Audio-control p {
  float: left;
  animation-name: fade-out;
  animation-duration: 5s;
}

.Logo-header img {
  width: 60%;
  height: 60%;
  padding-bottom: 5%;
}

.Coming-soon {
  animation: text_flash 0.75s infinite;
  font-size: 0.8em;
  font-family: "Nintendo NES Font";
  text-align: center;
}

@font-face {
  font-family: "Nintendo NES Font";
  src: url("./assets/fonts/Nintendo NES Font.ttf") format("truetype");
}

@keyframes text_flash {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}

@keyframes fade-out {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

.Footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 14px;
  color: #FFFFFF;
}

.Social-media-buttons i {
  color: #FFFFFF;
  font-size: 2em;
  padding: 1% 5%;
}