.App {
  text-align: center;
  max-width: 1000px;
  min-width: 330px;
  margin: auto;
}

.App-main {
  font-size: calc(10px + 2vmin);
  color: #ffffff;
}

.Track-info {
  font-size: 14px;
  text-align: left;
  animation: fade-out 5s linear;
  animation-fill-mode: forwards;
}

.Track-info {
  margin: 0px 20px 0px 20px;
  width: 50%;
  float: left;
}

.Track-info p {
  display: inline-block;
  padding: 10px;
  transform: translateY(-2px);
}

.Track-info iframe {
  z-index: 999;
}

.Mute-button {
  margin: 20px 20px 0px 0px;
  width: 50%x;
  float: right;
}

.fas {
  color: #ffffff;
  font-size: 18px;
  z-index: 999;
}

.Logo img {
  padding-top: 50px;
  width: 60%;
}

.Coming-soon {
  animation: text_flash 0.75s infinite;
  font-size: 0.8em;
  font-family: "Nintendo NES Font";
}

.Social-media-buttons-wrapper {
  text-align: center;
}

.Social-media-buttons {
  display: inline-block;
  font-size: 2em;
  padding: 16px;
}

.Social-media-buttons a {
  color: #ffffff;
}

.Footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 14px;
  color: #ffffff;
}

.Footer p {
  font-size: 11px;
}

/* Animations */
@keyframes text_flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  50.01% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

/* Fonts */
@font-face {
  font-family: "Nintendo NES Font";
  src: url("./assets/fonts/Nintendo NES Font.ttf") format("truetype");
}

/* Media Queries */

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (orientation: landscape) {
  .Logo {
    width: 55%;
    margin: 0 auto;
  }
  .Logo img {
    width: 250px;
  }
  .Coming-soon {
    font-size: 0.6em;
  }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) and (orientation: landscape) {
  .Logo {
    width: 55%;
    margin: 0 auto;
  }
  .Logo img {
    width: 400px;
  }
  .Coming-soon {
    font-size: 0.6em;
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
  .Footer {
    display: none;
  }
}
