/* Cross-browser anti-aliasing */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000000;
}

.App {
  text-align: center;
}

.App-main {
  height: 35rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #FFFFFF;
}

.Audio-player audio {
  padding-bottom: 5%;
  height: 30px;
  width: 250px;
}

.Audio-control {
  font-size: 14px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 8%;
}

.Track-info {
  font-family: "Roboto";
  font-size: 14px;
  text-align: left;
  position: absolute;
  top: 0;
  left: 0;
  margin: 6%;
  animation: fade-out 5s linear;
  animation-fill-mode: forwards;
}

.Track-info a {
  color: #FFFFFF;
  text-decoration: none;
}

.Track-info p {
  margin: 5px 0px 0px 0px;
  font-weight: 700;
  font-size: 16px;
}

.Track-info p3 {
  font-size: 12px;
}

.fas {
  color: #FFFFFF;
  font-size: 0.8em;
  z-index: 1;
}

.Audio-control p {
  float: left;
}

.Logo-header img {
  width: 60%;
  padding-bottom: 5%;
  padding-top: 15%;
}

.Coming-soon {
  animation: text_flash 0.75s infinite;
  font-size: 0.8em;
  font-family: "Nintendo NES Font";
  text-align: center;
}

@font-face {
  font-family: "Nintendo NES Font";
  src: url("./assets/fonts/Nintendo NES Font.ttf") format("truetype");
}

@keyframes text_flash {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}

@keyframes fade-out {
  0% { opacity: 1; }
  80% { opacity: 1; }
	100% { opacity: 0.2; }
}

.Social-media-buttons i {
  color: #FFFFFF;
  font-size: 2em;
  padding: 16px;
}

.Footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 14px;
  color: #FFFFFF;
}

.Footer p {
  font-family: "Roboto";
  font-size: 11px;
}